
*/ .q thead ,
.d tbody ,
.q th ,
.q td,
.q tr {
 display: block;
 width: auto;
 } 
 .q th,
 .q td{
    border: 1px solid #DEE2E6;
    padding: 12px;
    text-align: left;
    font-size: 0.95em;

 }
 .q th{
    background-color: #E9ECEF;
    font-weight: bold;
    color: #343A40;

 }
 .q tbody tr:nth-child(even){
    background-color: #f2f2f2;

 }
 .q tbody tr:hover{
    background-color: #E2F0FF;
 }
.w {
    padding: 10px auto;
    padding: 10px;
    max-width: 960px;
    height: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);

}
.back{
  background-color: aquamarine;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.line {
   border-bottom:1px solid #e1d7d7 ;
}




