/* #a
{
    background-image:url("/Images/backgrond.jpeg");
    max-width: 1000px;
    
    
  }

#b
{
  color: white;
  text-align: center;
}
#c 
{
   background-color: green;
   color: blue; 
   padding: o.5rem 1rem;
   font-size: 1rem;
   border: none;
   border-radius: 5px;
   font-weight: 500;
   cursor: pointer;
   display: inline-block;
   margin-top: 1rem;
   transition: background-color 0.3s ease;

}
#z{
  background-color: rgb(76, 76, 142);
} */